* {
	margin: 0px;
	font-family: sans-serif;
}

body {
	overflow: hidden;
}

div#canvasWrapper {
	position: fixed;
	overflow-y: hidden;
	width: 100%;
}

div#info {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1111;
	color: white;
}