doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title= title
		link(rel='stylesheet', href='style.css')
		script(src= liveReload)
		script(src="lib/thirdparty/three.js")
		script(src="lib/thirdparty/physi.js")
		script(src="lib/thirdparty/STLLoader.js")
		script(src="lib/thirdparty/ParticleEngine.js")
		script(src="lib/hg.js")
		<script>
		|	Physijs.scripts.worker = 'lib/thirdparty/physijs_worker.js';
		|	Physijs.scripts.ammo = 'ammo.js';
		</script>
	body
		#canvasScreen
			//- #info
			//- 	p#fps {{ fps }}
			//- 	p#frametime {{ frametime }}
			//- 	p#calls {{ calls }}
			//- 	p#vertices {{ vertices }}
			#canvasWrapper
		#menu
			#mainMenuNode
			#playMenuNode
			#optionsMenuNode
		script(src="game/game.js")
