doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title= title
		link(rel='stylesheet', href='style.css')
		script(src= liveReload)
		script(src="lib/dependencies/three.js")
		script(src="lib/dependencies/physi.js")
		script(src="lib/dependencies/STLLoader.js")
		script(src="lib/dependencies/ParticleEngine.js")
		script(src="lib/hg.js")
		<script>
		|	Physijs.scripts.worker = 'lib/dependencies/physijs_worker.js';
		|	Physijs.scripts.ammo = 'ammo.js';
		</script>
		//- script(src="assets/fonts/droidSans.typeface.js")
		//- script(src="assets/fonts/helvetiker.typeface.js")
	body
		#canvasScreen
			//- #info
			//- 	p#fps {{ fps }}
			//- 	p#frametime {{ frametime }}
			//- 	p#calls {{ calls }}
			//- 	p#vertices {{ vertices }}
			#canvasWrapper
		//- .menu
		//- 	#mainScreen
		//- 		ul
		//- 			li.gameScreenButton Start game
		//- 			li.optionsScreenButton Options
		//- 			li#exit Exit
		//- 	#optionsScreen
		//- 		ul
		//- 			li FOV
		//- 			li Fullscreen
		//- 	#gameScreen
		//- 		ul
		//- 			li.canvasScreenButton Easy
		//- 			li.canvasScreenButton Normal
		//- 			li.canvasScreenButton Difficult
		script(src="game/game.js")
